.form-item {
  label {
    display: block;
    font-weight: 200;
    font-size: 14px;
    line-height: 19px;
    color: #534F4F;
  }
  input {
    display: block;
    margin-bottom: 15px;
    width: 350px;
    height: 45px;
    box-shadow: 0 0 4px rgba(11, 122, 170, 0.25);
    border: none;
    &:focus, &:hover {
      box-shadow: 0 4px 4px rgba(11, 122, 170, 0.25);
      border: none;
      outline: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
}