@import "../../assets/scss/variable.scss";

.form-item {
  position: relative;

  label {
    display: block;
    font-weight: 200;
    font-size: 14px;
    line-height: 19px;
    color: $grey;
  }

  &.error input {
    box-shadow: 0 0 4px $red;
  }

  input {
    display: block;
    margin-bottom: 20px;
    width: 350px;
    height: 45px;
    box-shadow: 0 0 4px $blue-25;
    border: none;
    border-radius: 5px;

    &:focus,
    &:hover {
      box-shadow: 0 4px 4px $blue-25;
      border: none;
      outline: 1px solid $blue-25;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
