<div class="form from-authorization">
    <div class="form-item">
        <input type="text" placeholder="Login">
    </div>
    <div class="form-item">
        <input type="password" placeholder="Password">
    </div>
    <div class="button-default">
        <button>Enter</button>
    </div>
    <div class="link">
        <span>Create account</span>
    </div>

</div>