.chats-page {
  grid-template-columns: 1fr 2fr;
  display: grid;
  .chat-control {

    .control {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      .menu-control {
        cursor: pointer;
        &:hover svg path {
          stroke: #17318D;
        }
      }
    }
  }
  .search-input input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(11, 122, 170, 0.25);
    border: none;
    &:focus, &:hover {
      box-shadow: 0 4px 4px rgba(11, 122, 170, 0.25);
      border: none;
      outline: none;
    }
  }
  .empty-chat {
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.25em;
    color: #0B7AAA;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba(11, 122, 170, 0.7);
  }
  .active-chat {
    border-left: 1px solid rgba(11, 122, 170, 0.7);
    &-header {
      border-bottom: 1px solid rgba(11, 122, 170, 0.7);
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-companion {
        display: flex;
        align-items: center;
        column-gap: 15px;
      }
      &-name {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.1em;
        color: #0B7AAA;
      }
    }

    &-messages {
      padding: 15px;
      height: calc(100vh - 150px);
      overflow-y: scroll;
    }
    &-message {
      padding: 15px;
      padding-bottom: 0;
      margin-bottom: 15px;
      max-width: 50%;
      border-radius: 15px;
      &.left {
        background: #F0EFEF;
      }
      &.right {
        background: rgba(11, 122, 170, 0.5);
        margin-left: auto;
      }
      &-text {
        font-weight: 200;
        font-size: 16px;
        line-height: 17px;
      }
      &-time {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.1em;
        color: #858181;
        display: flex;
        justify-content: flex-end;
      }
    }
    &-control {
      display: flex;
      align-items: center;
      column-gap: 10px;
      input {
        border: 1px solid #0B7AAA;
        border-radius: 10px;
        width: 85%;
        padding: 10px;
      }
    }

  }
  .photo-profile-chat {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(180deg, #EEEAEA 99.99%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }
  .item-chat {
    display: grid;
    grid-template-columns: 60px 1fr 50px;
    padding: 10px;
    border-bottom: 1px solid rgba(11, 122, 170, 0.7);
    cursor: pointer;
    &:hover, &.active {
      background: rgba(11, 122, 170, 0.1);
    }

    .info-chat {
      .name-companion {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.1em;
        color: #0B7AAA;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
      }
      .text-message {
        font-style: normal;
        font-weight: 200;
        font-size: 14px;
        line-height: 17px;
        color: rgba(0, 0, 0, 0.5);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
      }
    }
    .date-chat {
      font-weight: 200;
      font-size: 14px;
      line-height: 17px;
      color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;

    }
  }
}