body {
  margin: 0;
}
h1.title {
  font-weight: 200;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.25em;

  color: #000000;
}
button.circle-btn {
  width: 35px;
  height: 35px;
  background: #0B7AAA;
  border-radius: 50px;
  padding: 5px;
  cursor: pointer;
  &:hover {
    background: #49c1f4;
  }
}