$red: #B12E11;

$black: #000000;

$green: #0B7AAA;

$grey: #858181;
$grey-05: #F0EFEF;

$blue-01: rgba(11, 122, 170, 0.1);
$blue-07: rgba(11, 122, 170, 0.7);
$blue-05: rgba(11, 122, 170, 0.5);
$blue-10: rgba(22, 111, 150, 0.7);
$blue-20: rgba(0, 81, 116, 0.7);
$blue-25: rgba(11, 122, 170, 0.25);
$blue-100: #49C1F4;
$blue-200: #496FD1;

$box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);


$font-size_600: 64px;
$font-size_300: 32px;
$letter-spacing: 0.25em;