.photo-profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(180deg, #EEEAEA 99.99%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}