@import "../../assets/scss/variable.scss";

.photo-profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: $grey-05;
  display: flex;
  align-items: center;
  justify-content: center;
}
