.link {
  a {
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.25em;
    color: #0B7AAA;
    margin-bottom: 15px;
    &:hover {
      cursor: pointer;
      color: #49C1F4;
    }
    &:active {
      color: #496FD1;
    }
  }
}
