@import 'static/scss/variable.scss';
@import 'static/scss/mixins/mixins.scss';

.link {
  a {
    @include font(18px);
    margin-bottom: 15px;
    &:hover {
      cursor: pointer;
      color: $blue-100;
    }
    &:active {
      color: $blue-200;
    }
  }
}
