@import "../../assets/scss/variable.scss";
@import "../../assets/scss/mixins/mixins.scss";

.error-validation {
  position: absolute;
  display: none;
  left: 0;
  bottom: -20px;
  animation: ease-out 1s;

  @include font(14px, $red);

  &.error {
    display: inline-block;
  }
}
