@import "../../assets/scss/variable.scss";

.error-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 90vh;

  .status-error {
    font-size: $font-size_600;
    color: $red;
  }

  .message-error {
    font-style: normal;
    font-weight: 200;
    font-size: $font-size_300;
    letter-spacing: $letter-spacing;
    color: $black;
    margin-bottom: 15px;
  }
}
