<div class="error-page">
    <div class="status-error">
        <span>{{statusError}}</span>
    </div>
    <div class="message-error">
        <span>{{messageError}}</span>
    </div>
    {{{link}}}
</div>